<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Nova submissão</title>

<link
    href="https://fonts.googleapis.com/css?family=Montserrat&display=swap"
    rel="stylesheet">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body bgcolor="#efeded">
    <table width="789" border="0" cellspacing="0" bgcolor="#FFFFFF" align="center">
        <tbody>
            <tr>
                <td align="center"><img src="cid:logo.jpg" style="margin-top: 38px;" alt="" /></td>
            </tr>

            <tr>
                <td><table width="800" cellpadding="5" margin-top="20">
                        <tbody>
                            <tr>
                                <td width="70">&nbsp;</td>
                                <td align="left"><font face="Montserrat-Medium, sans-serif"
                                    style="font-size: 25px;" color="#676e7e">Move Dentist</font></td>
                                <td width="70">&nbsp;</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td width="70">&nbsp;</td>
                                <td align="left"><font face="Montserrat, sans-serif"
                                    style="font-size: 14px" color="#676e7e">Olá
                                        <a th:text="${name}"> Nome</a>
                                </font></td>
                                <td width="70">&nbsp;</td>
                            </tr>

                            <tr>
                                <td>&nbsp;</td>
                                <td><font color="#676e7e" size="3"
                                    face="Montserrat, sans-serif, sans-serif"
                                    style="line-height: 24px; font-size: 14px">
                                        <p>Obrigado por submeteres um pedido de informação no Move Dentist. A nossa equipa vai analisar o teu pedido e iremos entrar em contacto brevemente para fazer o seguimento do mesmo.</p>
                                </font></td>
                                <td>&nbsp;</td>
                            </tr>

                            <tr>
                                <td>&nbsp;</td>
                                <td><font color="#676e7e" size="3"
                                    face="Montserrat, sans-serif, sans-serif"
                                    style="line-height: 24px; font-size: 14px">
                                        <p>Se não submeteu um pedido de informação no Move Dentist, por favor ignore este email.</p>
                                </font></td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td><font color="#676e7e" size="3"
                                    face="Montserrat, sans-serif, sans-serif"
                                    style="line-height: 24px; font-size: 14px">
                                        <p>Atenciosamente, <br>A equipa do Move Dentist.</p>
                                </font></td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td height="20px">&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                        </tbody>
                    </table>
            </tr>
            <tr>

        <tbody>
            <tr>
                <td>
                    <table align="center" width="620" bgcolor="#efeded">
                        <tr>
                            <td align="center"><font
                                face="Montserrat, sans-serif, sans-serif" size="2"
                                color="#555559">
                                    <p>movedentist@outlook.com</p>
                            </font></td>
                        </tr>
                    </table>
            <tr>

            <tr>
                <td>
                    <table cellpadding="5" width="800">
                        <tr>
                            <td width="70">&nbsp;</td>
                            <td align="center"><font
                                face="Montserrat, sans-serif, sans-serif"
                                style="font-size: 10px" color="#555559">
                                    <p>
                                        Está a receber este email porque submeteu um pedido de informação no
                                        MoveDentist <br> Se não quiser continuar a receber estas mensagens envie email para: movedentist@outlook.com
                                    </p>
                            </font></td>
                            <td width="70">&nbsp;</td>
                        </tr>
                    </table>
            <tr>
                <td height="40">&nbsp;</td>
            </tr>
            </td>
            </tr>
    </table>
    </td>
    </tr>
</tbody>